@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --appBarHeight: 60px;
    --layoutMaxWidth: 1440px;
    --layoutPaddingX: 40px;

    font-family: 'Instrument Sans', 'Roboto', sans-serif, 'Helvetica', 'Arial', 'Verdana';
  }

  html, body {
    overflow-x: hidden;
    overscroll-behavior: none;
    position: relative;
    min-height: 100vh;
  }

  body {
    margin: 0;
    padding: 0;
  }

  @media screen(md) {
    :root {
      --appBarHeight: 126px;
    }
  }

  @media screen(lg) {
    :root {
      --layoutPaddingX: 74px;
    }
  }
}
